/* Components */
@import url("section-toolbar.css");
@import url("view-header.css");

/* Views */
@import url("project-list-view.css");
@import url("task-list-view.css");

/* Layouts */
@import url("main-layout.css");

/* Global styles */

body {
    /* Colors from the dark theme used in the navigation bar */
    --dark-base-color: hsl(214, 35%, 21%);
    --dark-header-text-color: hsl(214, 100%, 98%);
    --dark-primary-color-50pct: hsla(214, 90%, 70%, 0.69);
    --dark-primary-color-10pct: hsla(214, 90%, 55%, 0.13);
    --dark-primary-text-color: hsl(214, 90%, 77%);
    --dark-primary-contrast-color: #fff;
    --dark-body-text-color: hsla(214, 96%, 96%, 0.9);

    /* Custom colors */
    --logo-color: rgb(20, 164, 236);
}
