.task-list-view {
    background-color: var(--lumo-shade-5pct);
}

.task-list-view vaadin-grid::part(header-cell) {
    background-color: var(--lumo-shade-5pct);
}

.task-list-view vaadin-grid.card-view::part(header-cell) {
    display: none;
}

.task-list-view vaadin-grid.card-view {
    --vaadin-grid-cell-background: transparent;
    background-color: transparent;
}