.view-header { /* TODO Mobile styles */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--lumo-space-m);
    row-gap: var(--lumo-space-xs);
}

.view-header h1 {
    font-size: var(--lumo-font-size-xl);
    font-weight: 300;
}

.view-header .view-header-title-container {
    display: flex;
    align-items: center;
}